html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
html, body {
  width: 100%;
  height: 100%;
  font-family: 'Merriweather', serif;
  font-family: 'Raleway', sans-serif;}
/*img {
  max-width: 100%;
  height: auto;
  display: block;
}*/
h1 {
  font-size: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}
.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, minmax(1fr, auto));
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
  "h h h h h h h h h h h h"
  ". . n n n n n n n n . ."
  ". . e e e e e e e e . ."
  ". . o o o o o o o o . ."
  ". . p p p p p p p p . ."
  ". . f f f f f f f f . .";
  margin-top: 75px;
  }
.header {
  position: fixed;
  top: 0;
  min-height: 75px;
  grid-area: h;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "_logo . _menu-items";
  align-items: center;
  background-color: whitesmoke;
  width: 100%;
}
/*header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
}*/
.logo {
  grid-area: logo;
  grid-area: _logo;
  margin: 0em;
  align-content: center;
}
.logo > img {
  max-width: 300px;
  min-width: 300px;
 }  
.menu-items {
  justify-self: end;
  grid-area: _menu-items;
  display: flex;
  align-self: flex-end;
  font-size: medium;
  margin-bottom: 34px;
  margin-top: 18px;
  margin-left: 25px;
  margin-right: 25px;
}
.menu-items * {
  margin-left: 0.8em;
  margin-right: 0.8em;
}
/*email input form, submit*/
.newsletter {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-area: n;
  text-align: center;
  justify-items: center;
  margin-top: 0.1em;
}
.newsletter h1 {
  padding-top: 0em;
}
.newsletter form {
  justify-items: center;
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 0.2em;
  margin-bottom: 0.7em;
}
.newsletter form * {
  margin-left: 0.3em;
  margin-right: 0.3em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.newsletter input {
  line-height: 1.2em;
  padding: 0.8em 0.7em 0.7em 0.7em;
  width: calc(100% / 3);
}
.newsletter #submit {
  width: 5.5em;
  line-height: 1em;
  padding: 0.8em 0.7em 0.7em 0.7em;
}  
/*3 headlines/paragraphs*/
.features {
  margin-left: 15px;
  grid-area: e;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  justify-self: center;
  }
.feature1 {
  width: 98%;
  display: flex;
  flex-direction: row;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}  
.features h2 {
  padding-left: 0.8em;
  padding-right: 0.8em;
}
.feature2 {
  width: 98%;
  display: flex;
  flex-direction: row;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}  
.feature3 {
  width: 98%;
  display: flex;
  flex-direction: row;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}  
.features img {
  margin-top: 0.5em;
  align-self: center;
}  
.features p {
  margin-top: 0.2em;
  align-self: center;
}
.features h2 {
  margin-bottom: 0.4em;
  align-self: center;
  margin-top: 10px;
  margin-left: 15px;

}  
/*Video embed*/
.howitworks {
  margin-top: 20px;
  margin-bottom: 20px;
  grid-area: o;
  display: flex;
  justify-content: center;
}
/*3 cards*/
.pricing {
  grid-area: p;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  align-content:space-between;
  text-align: center;
}
.pricing * button {
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
  background-color: #F9FF00;
  border-width: 0.5px;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
  border-color: #7F7F7F;
}
.pricing * h3 {
  padding-top: 15px;
  text-align: center;
}
.pricing * p {
  padding-top: 5px;
  text-align: center;
}

.pricing #card3{
  display: flex;
  flex-direction: column;
}
.pricing #card1 h3 {
  text-transform: uppercase;    
}
.pricing #card2 h3 {
  text-transform: uppercase;    
}
.pricing #card3 h3 {
  text-transform: uppercase;    
}
.pricing button {
  width: 50%;
  align-self: center;
  justify-self: center;
}
.footer {
  margin-top: 15px;
  margin-bottom: 15px;
  grid-area: f;
  display: flex;
  flex-direction: column;
}
.footer #footer-links {display: flex; justify-content: space-between; margin-right:15px; margin-left: 15px;}
.footer #copyright-notice  {margin-left: 15px; margin-right:15px; margin-bottom: 5px; margin-top: 5px;}
@media screen and (max-width: 854px) {
  .grid-container {
    display: grid;
    /*grid-template-columns: repeat(12, 1fr);*/
    grid-template-columns: auto;
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
    "h"
    "n"
    "e"
    "o"
    "p"
    "f";
    width: 100%;
    margin-top: 125px;
  }  
  .header {
    grid-area: h;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .logo {
    text-align: center;
    align-self: center;
    margin-top: 1.4em;
    margin-bottom: -1.5;
    margin-right: 10%;
  }
  .logo > img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    min-width: 300px;
   }
  .menu-items {
    text-align: center;
    align-self: center;
    margin-top: 14px;

  }
  .newsletter input {
    width: calc(100% / 1.9);
  }
  
    /*align-self: center;
    text-align: center;
  }*/
  /*  .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "_logo"
      "_menu-items";
    justify-content: center;
  }
  .logo {
    justify-self: center;
    align-self: center;
    margin-top: 0.8em;
    margin-bottom: -1.5;
  }
  .logo > img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    min-width: 300px;
   }
  .menu-items {
    justify-self: center;
    }*/
  .pricing {
    grid-area: p;
    display: flex;
    flex-direction: column;
  }
  .pricing button {
    width: 25%;
  }
  
/*  @media screen and (max-width: 543px) {
    .logo {
      margin-right: 25vh;
    }
    .menu-items {
      margin-right: 14vh;
    }*/
